<div class="container">
<h1>Pages#index</h1>
<h2>Pages</h2>
<li><%= link_to "pages_home_knownuser_pref_geo", pages_home_knownuser_pref_geo_path %></li>
<li><%= link_to "pages_home_knownuser_pref_nogeo", pages_home_knownuser_pref_nogeo_path %></li>
<li><%= link_to "pages_home_knownuser_nopref_geo", pages_home_knownuser_nopref_geo_path %></li>
<li><%= link_to "pages_home_knownuser_nopref_nogeo", pages_home_knownuser_nopref_nogeo_path %></li>
<li><%= link_to "pages_home_unknownuser_geo", pages_home_unknownuser_geo_path %></li>
<li><%= link_to "pages_home_unknownuser_nogeo", pages_home_unkownuser_nogeo_path %></li>
<li><%= link_to "pages_museum", pages_museum_path %></li>
<li><%= link_to "pages_event", pages_event_path %></li>
<li><%= link_to "pages_add_museum", pages_add_museum_path %></li>
<li><%= link_to "pages_add_event", pages_add_event_path %></li>
<li><%= link_to "pages_user_profile", pages_user_profile_path %></li>
<li><%= link_to "pages_museum_profile", pages_museum_profile_path %></li>
<li><%= link_to "pages_buy_tickets", pages_buy_tickets_path %></li>
<h2>Components</h2>
<li><%= link_to "components_header", components_header_path %></li>
<li><%= link_to "components_cities_bloc", components_cities_bloc_path %></li>
<li><%= link_to "components_explore_museum_bloc", components_explore_museum_bloc_path %></li>
<li><%= link_to "components_event_bloc", components_event_bloc_path %></li>
<li><%= link_to "components_could_be_interested_bloc", components_could_be_interested_bloc_path %></li>
<li><%= link_to "components_filter", components_filter_path %></li>
<li><%= link_to "components_museum_cards", components_museum_cards_path %></li>
<li><%= link_to "components_event_cards", components_event_cards_path %></li>
<li><%= link_to "components_weather_bloc", components_weather_bloc_path %></li>
<li><%= link_to "components_how_to_get_there_block", components_how_to_get_there_block_path %></li>
<li><%= link_to "components_unmissable_block", components_unmissable_block_path %></li>
<li><%= link_to "components_map_block", components_map_block_path %></li>
<li><%= link_to "components_current_events_blocks", components_current_events_blocks_path %></li>
<li><%= link_to "components_coming_events_blocks", components_coming_events_blocks_path %></li>
<li><%= link_to "components_add_establishment_block", components_add_establishment_block_path %></li>
<li><%= link_to "components_footer", components_footer_path %></li>
</div>
